@(criteria:List[Criteria],criteriaForm:Form[Criteria])

@import helper._

@main("Criteria") {
	<body>
		<center><h1>Criteria Management</h1></center>
		<div class="container">
			<h1>@criteria.size() criteria(s) </h1>


			<!--<form class="form-signin">-->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Criteria</th>
						<th>Delete</th>
					</tr> 
				</thead>
				<tbody>
					@for(ct<- criteria){
						<tr>
							<td>@ct.id</td>
							<td>@ct.name</td>
							<td>
								@form(routes.CriteriaController.deleteCriteria(ct.id)) {
									<button type="submit" class="btn btn-danger">Delete</input>

								}
							</td>
						</tr>
					}

				</tbody>  
			</table>

			<div class="span6">
				<h2 class="form-signin-heading">Add criteria</h2>
				@form(routes.CriteriaController.newCriteria()){
					@inputText(criteriaForm("name"), '_label-> "", 'class -> "input-block-level", 'placeholder -> "What Criteria")
					<button class="btn btn-large btn-primary" type="submit">Add</button>
				}
				<!--</form>-->
			</div>
		</div>
	</body>
}