@(projects: List[Project], projectForm: Form[Project], user: User)

@import helper._

@main("Project manager", user) {
	<body>
		<div class="container span6">
			@form(routes.ProjectController.addProject(), 'class -> "form-signin") {
				<!--<form class="form-signin">-->
				<h1 class="form-signin-heading">Add Project</h1>
				@inputText(projectForm("name"), '_label -> "", 'class -> "input-block-level", 'placeholder -> "name")
				@textarea(projectForm("description"), '_label -> "", 'class -> "input-block-level", 'placeholder -> "description")
		<!--<input type="text" class="input-block-level" placeholder="Username">
			<input type="password" class="input-block-level" placeholder="Password">-->
				<div align="center"><button class="btn btn-large btn-primary" type="submit">Add Project</button></div>
				<!--</form>-->
			}
		</div>

		<div class="span8">

			<h2>@projects.size() project(s)</h2>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Project Name</th>
						<th>Project Description</th>
						<th>Delete</th>
					</tr> 
				</thead>
				<tbody>
					@for(project <- projects) {
					<tr>
						<td>@project.pid</td>
						<td>@project.name</td>
						<td>@project.description</td>
						<td>
							@form(routes.ProjectController.deleteProject(project.pid)) {
								<input type="submit" value="Delete" class="btn btn-danger">
							}
						</td>
					</tr>
					}

				</tbody>  
			</table>
		</div>
	</body>
}

