@(projects: List[Project], user: User)

@import helper._

@main("Project List", user) {    
<h4>@projects.size()  Project(s)</h4>
   
<div class="bs-docs-example">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            @for(project <-projects){
                <li class="">
                    <a data-toggle="tab" href="#@project.id">@project.name</a>
                </li>
            }
        </ul>
        
        <div class="tab-content">
            @for(project <-projects){
                <div id="@project.id" class="tab-pane"> 
                    <p>@project.description</p>
                </div>
            }
        </div>
    </div>
</div>
}
    