@(projects:List[Project], criteria:List[Criteria], formCriteria: Form[Criteria], user: User)

@import helper._

@main("Vote", user) {
    <div class="span12">
        <div class="projectlist">
        <h2>@projects.size() project(s)</h2>
        <table class="table table-striped" align="center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Vote</th>
                </tr> 
            </thead>
            <tbody>
                @for(project <- projects) {
                    <tr>
                        <td>@project.id</td>
                        <td>@project.name</td>
                        <td>@project.description</td>
                        <td>
                            <!-- Button to trigger modal -->
                            <a href="#" onclick="selectCriteria()" class="selectTeam"><button class="btn btn-success" type="submit">Choose</button></a>
                        </td>
                    </tr>
                }
                </tbody>
        </table>
        </div>
                <script type="text/javascript">
                $(document).ready(function(){

                    $(".slidingDiv").hide();
                    
                    $('.selectTeam').click(function(){
                        $(".projectlist").slideToggle(500);
                        $(".slidingDiv").slideToggle();
                    });

                    $('.backToProject').click(function(){
                        $(".projectlist").slideToggle();
                        // $(".projectlist").slideToggle();
                        $(".slidingDiv").slideToggle(500);
                    });

                });

                </script>

                <div class="slidingDiv"> 
                <a href="#" class="backToProject"><button class="btn btn-info">Back To ProjectList</button></a>
                @form(routes.VoteController.voteForProject) {
                <h3 id="myModalLabel">Choose Criteria for team XXX</h3>
                        
                    
                <table class="table table-striped" align="center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Criteria</th>
                            <th>Vote</th>
                        </tr> 
                    </thead>
                    <tbody>
                        @for(ct <- criteria) {
                        <tr>
                            <td>@ct.id</td>
                            <td>@ct.name</td>
                            <td>
                               <button class="btn btn-mini btn-primary" name="name" value="@ct.name">VOTE</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>




                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Criteria List</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            @for(ct <- criteria) {
                                <li> @ct.name <button class="btn btn-mini btn-primary" name="name" value="@ct.name">VOTE</button></li>
                            }
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                }
            
    </div>
}
