@(projects:List[Project], criteria:List[Criteria], criteriaForm: Form[Criteria], projectForm: Form[Project], user: User)

@import helper._
   <!--<link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2012.3.1114/styles/kendo.dataviz.default.min.css" rel="stylesheet" />-
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdn.kendostatic.com/2012.3.1114/js/kendo.all.min.js"></script>-->

@main("Vote", user) {
    <h3>You have @user.ballotqnty ballot(s)</h3>
    <div class="span12">
        <div class="projectlist" align="center">
        <h2>Total : @projects.size() project(s)</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Vote</th>
                </tr> 
            </thead>
            <tbody>
                @for(project <- projects) {
                    <tr>
                        <td>@project.id</td>
                        <td>@project.name</td>
                        <td>@project.description</td>
                        <td>
                            <!-- Button to trigger modal -->
                            <a href="#" onclick="selectCriteria()" class="selectTeam"><button class="btn btn-success" type="submit" name="name" value="@project.name">Choose</button></a>
                        </td>
                    </tr>
                }
                </tbody>
        </table>
        </div>
                <script type="text/javascript">
                $(document).ready(function(){

                    $(".slidingDiv").hide();
                    
                    $('.selectTeam').click(function(){
                        $(".projectlist").slideToggle(500);
                        $(".slidingDiv").slideToggle();
                    });

                    $('.backToProject').click(function(){
                        $(".projectlist").slideToggle();
                        // $(".projectlist").slideToggle();
                        $(".slidingDiv").slideToggle(500);
                    });

                });

                </script>
                

                <div class="slidingDiv"> 
                <a href="#" class="backToProject"><button class="btn btn-info">Back To ProjectList</button></a>
                <h3 id="myModalLabel">Choose Criteria for team XXX</h3>
                        
                <div class="span9">
                <table class="table table-striped" align="center">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Criteria</th>
                            <th>Score (MAX:10)</th>
                            <th>Vote</th>
                        </tr> 
                    </thead>
                    <tbody>
                        @for(ct <- criteria) {
                        <tr>
                            <td>@ct.id</td>
                            <td>@ct.name</td>
                            <td>
                            <div>
                                <input maxlength="2" size="4" id="@ct.name"></input>
                                <!-- <table>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input data-role="slider" data-bind="value:@ct.name" />
                                            <script>
                                                $(document).ready(function() {
                                                    var Node = kendo.data.Node;
                                                    
                                                    var viewModel = kendo.observable({
                                                        x : 5,
                                                    });

                                                    kendo.bind($("table"), viewModel);
                                                });
                                            </script>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table> -->
                            </div>
                            </td>
                            <td>
                               <button class="btn btn-mini btn-primary" name="name" value="@ct.name">VOTE</button>
                           
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div> <!-- span6-->

            </div>
    </div>
}
